.card {
  font-family: Poppins, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__delete-button {
  width: 32px;
  height: 32px;
  position: absolute;
  border: none;
  background-color: transparent;
  top: 10px;
  right: 10px;
  background-image: url(../images/spots-images/delete-default.svg);
  cursor: pointer;
}

.card__delete-button:hover {
  background-image: url(../images/spots-images/delete-hover.svg);
  cursor: pointer;
}

.card__like-button {
  background-image: url(../images/spots-images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../images/spots-images/Heart-Liked.svg);
  opacity: 1;
}

.card__like-button_active:hover {
  opacity: .4;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}

@media (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}