.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  margin-bottom: 12px;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__like-button {
  background-image: url(../images/spots-images/Heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
}

.card__like-button:hover {
  opacity: 1;
  cursor: pointer;
}

.card__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 353px;
  margin: 0;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }
}

@media (max-width: 627px) {
  .card__title {
    max-width: 235px;
  }
}