.footer {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.footer__copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  margin: 0;
  text-align: center;
}