.modal {
  visibility:hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s,opacity 0.5s linear;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  max-width: 730px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 32px;
  right: 50px;
  border: none;
  background-color: transparent;
  justify-content: center;
  display: flex;
  cursor: pointer;
  padding: 0;
}

.modal__close-btn:hover {
  opacity: 0.8;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-family: Poppins, Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  width: 100%;
  border-radius: 8px;
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  gap: 10px;
  opacity: 1;
  border-width: 1px;
  font-size: 20px;
  font-weight: 500;
  font-family: Poppins, Arial, sans-serif;
  box-sizing: border-box;
}

input, textarea, select {
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.4);
}

.modal__input::placeholder {
  color: #2121214D;
}

.modal__submit-btn {
max-width: 156px;
width: 100%;
height: 52px;
border-radius: 8px;
padding-top: 18px;
padding-right: 32px;
padding-bottom: 18px;
padding-left: 32px;
gap: 8px;
opacity: 1;
background-color: #212121;
color: #fcf5e5;
font-size: 16px;
font-family: Poppins, Arial, sans-serif;
font-weight: 500;
cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal__submit-btn {
    max-width: none;
  }

  .modal__container {
  padding: 22px 12px 12px;
}

  .modal__title {
  font-size: 20px;
}

.modal__input {
  font-size: 16px;
}

.modal__close-btn {
  top: 22px;
  right: 12px;
}
}